/* Icons from directory "" */
.icon-american-express,.icon-american-express\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-american-express-dims{width:52px;height:16px}
.icon-arrow,.icon-arrow\:regular{background-image:url('icons/icons.png');background-position:0 -16px;background-repeat:no-repeat}
.icon-arrow-dims{width:4px;height:7px}
.icon-behance,.icon-behance\:regular{background-image:url('icons/icons.png');background-position:0 -23px;background-repeat:no-repeat}
.icon-behance-dims{width:26px;height:26px}
.icon-cart,.icon-cart\:regular{background-image:url('icons/icons.png');background-position:0 -49px;background-repeat:no-repeat}
.icon-cart-dims{width:15px;height:20px}
.icon-clock,.icon-clock\:regular{background-image:url('icons/icons.png');background-position:0 -69px;background-repeat:no-repeat}
.icon-clock-dims{width:17px;height:17px}
.icon-comments,.icon-comments\:regular{background-image:url('icons/icons.png');background-position:0 -86px;background-repeat:no-repeat}
.icon-comments-dims{width:16px;height:17px}
.icon-dribbble,.icon-dribbble\:regular{background-image:url('icons/icons.png');background-position:0 -103px;background-repeat:no-repeat}
.icon-dribbble-dims{width:26px;height:26px}
.icon-face,.icon-face\:regular{background-image:url('icons/icons.png');background-position:0 -129px;background-repeat:no-repeat}
.icon-face-dims{width:12px;height:16px}
.icon-facebook,.icon-facebook\:regular{background-image:url('icons/icons.png');background-position:0 -145px;background-repeat:no-repeat}
.icon-facebook-dims{width:26px;height:26px}
.icon-headset,.icon-headset\:regular{background-image:url('icons/icons.png');background-position:0 -171px;background-repeat:no-repeat}
.icon-headset-dims{width:16px;height:17px}
.icon-instagram,.icon-instagram\:regular{background-image:url('icons/icons.png');background-position:0 -188px;background-repeat:no-repeat}
.icon-instagram-dims{width:26px;height:26px}
.icon-lock,.icon-lock\:regular{background-image:url('icons/icons.png');background-position:0 -214px;background-repeat:no-repeat}
.icon-lock-dims{width:12px;height:16px}
.icon-mastercard,.icon-mastercard\:regular{background-image:url('icons/icons.png');background-position:0 -230px;background-repeat:no-repeat}
.icon-mastercard-dims{width:39px;height:23px}
.icon-paypal,.icon-paypal\:regular{background-image:url('icons/icons.png');background-position:0 -253px;background-repeat:no-repeat}
.icon-paypal-dims{width:36px;height:10px}
.icon-select,.icon-select\:regular{background-image:url('icons/icons.png');background-position:0 -263px;background-repeat:no-repeat}
.icon-select-dims{width:7px;height:4px}
.icon-twitter,.icon-twitter\:regular{background-image:url('icons/icons.png');background-position:0 -267px;background-repeat:no-repeat}
.icon-twitter-dims{width:26px;height:26px}
.icon-visa,.icon-visa\:regular{background-image:url('icons/icons.png');background-position:0 -293px;background-repeat:no-repeat}
.icon-visa-dims{width:39px;height:13px}
.icon-wishlist,.icon-wishlist\:regular{background-image:url('icons/icons.png');background-position:0 -306px;background-repeat:no-repeat}
.icon-wishlist-dims{width:17px;height:18px}