body{
    margin:4rem;
}

.box{
    width:200px;
    float: left;
    margin-right:2rem;
    height:200px;
    font: 300 1.45rem Verdana;
    color: #fff;
   
}

.is-clear{
    clear:both;
}

.is-float{
    float:left;
    margin-right:2rem;
}

.is-central{
      text-align: center;
      line-height: 200px;
}

.primary {
    background: #fa2645;

}
.secondary{
    background: #fc8b9c;

}
.tertiary{
    background: #ad3d4e;

}
.quaternary{
    background: #4e4e4e;

}